<section class="about">
  <div class="container">
    <ul class="pic-list list">
      <li class="pic-list__item">
        <picture>
          <source
            srcset="
              /src/images/about-1-desk.jpeg   1x,
              /src/images/about-1-desk2x.jpeg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/about-1-tab.jpeg   1x,
              /src/images/about-1-tab2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/src/images/about-1-desk.jpeg"
            alt="Барбер працює"
            width="270"
            height="445"
          />
        </picture>
      </li>
      <li class="pic-list__item">
        <picture>
          <source
            srcset="
              /src/images/about-2-desk.jpeg   1x,
              /src/images/about-2-desk2x.jpeg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/about-2-tab.jpeg   1x,
              /src/images/about-2-tab2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/src/images/about-2-desk.jpeg"
            alt="Барбер працює"
            width="270"
            height="445"
          />
        </picture>
      </li>
    </ul>
    <div class="about-content">
      <p class="about-content__top-text top-text top-text--dark">Про нас</p>
      <h2 class="about-content__title title title--dark">
        Кращий Барбершоп твого міста
      </h2>
      <p class="about-content__bottom-text bottom-text">
        Якщо ти хочеш додати до свого образу більше впевненості – тобі точно до
        нас.
      </p>
      <p class="about-content__text">
        Ми команда, яка ніколи не зупиняється на досягнутому та прагне змін. І
        коли ти потрапиш до рук нашого майстра, то вже ніколи не зможеш бути
        колишнім. Ми команда, яка завжди з клієнтами "на одній хвилі". Тому, ми
        завжди готові вдосконалювати кожного, хто до нас приходить!
      </p>
      <button type="button" class="about-content__btn btn">онлайн-запис</button>
    </div>
  </div>
</section>
