<section class="benefits">
  <div class="container">
    <ul class="benefits-list list">
      <li class="benefits-item">
        <span class="benefits-item-count">600</span>
        <p class="benefits-item-text">Задоволених клієнтів на день</p>
      </li>
      <li class="benefits-item">
        <span class="benefits-item-count">50</span>
        <p class="benefits-item-text">Нагород за відмінний сервіс</p>
      </li>
      <li class="benefits-item">
        <span class="benefits-item-count">20</span>
        <p class="benefits-item-text">Найкращих майстрів Києва</p>
      </li>
      <li class="benefits-item">
        <span class="benefits-item-count">100</span>
        <p class="benefits-item-text">Подарунків постійним клієнтам</p>
      </li>
    </ul>

    <div class="benefits-content">
      <p class="benefits-top-text top-text top-text--dark">
        Cтара традиційна школа
      </p>
      <h2 class="benefits-title title title--dark">
        Чому приходять саме до нас?
      </h2>
      <p class="benefits-bottom-text bottom-text">
        Про нас говорять лише хороше. Але краще 1 раз побачити та відчути, ніж
        10 разів прочитати.
      </p>
    </div>
  </div>
</section>
