<div class="contact-wrap">
  <div class="container">
    <section class="form">
      <h2 class="form-title title title--light">Онлайн-запис</h2>

      <form class="online-form">
        <div class="input-field">
          <input
            type="text"
            class="online-input"
            name="online-name"
            id="online-name
                "
            placeholder=" "
          />
          <label for="online-name" class="online-label">ІМʼЯ*</label>
        </div>
        <div class="input-field">
          <input
            type="tel"
            class="online-input"
            name="online-tel"
            id="online-tel
                "
            placeholder=" "
          />
          <label for="online-tel" class="online-label">ТЕЛЕФОН*</label>
        </div>
        <div class="text-field">
          <textarea
            name="online-mess"
            id="online-mess"
            class="online-mess"
            placeholder=" "
          ></textarea>
          <label for="online-tel" class="online-label">ПОВІДОМЛЕННЯ</label>
        </div>
        <button type="submit" class="online-btn btn">Відправити</button>
      </form>
    </section>

    <section class="contacts">
      <h2 class="contacts-title title title--light">Контакти</h2>
      <address class="contacts-adress">
        <ul class="contacts-list list">
          <li class="contacts-item">
            <a
              class="contacts-link link"
              href="https://goo.gl/maps/risuMAmokxhg7FEP7"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              вул. Василькова, 7А Київ, 08132</a
            >
          </li>
          <li class="contacts-item">
            <a class="contacts-link link" href="tel:+380675554477"
              >+380675554477</a
            >
          </li>
          <li class="contacts-item">
            <a class="contacts-link link" href="mailto:barbershop@email.com">
              barbershop@email.com</a
            >
          </li>
        </ul>
      </address>
      <p class="contacts-subtitle top-text top-text--light">Графік роботи</p>
      <p class="contacts-time">Щоденно з 9:00 до 22:00</p>
    </section>
  </div>
</div>
