<section class="gallery">
  <div class="container">
    <p class="gallery-top-text top-text top-text--dark">
      Латинською мовою "барба" означає "борода"
    </p>
    <h2 class="visually-hidden">Галерея</h2>
    <ul class="gallery-list list">
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /src/images/gal-1-desk1x.jpeg 1x,
              /src/images/gal-1-desk2x.jpeg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/gal-1-tab1x.jpeg 1x,
              /src/images/gal-1-tab2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/gal-1-mob1x.jpeg 1x,
              /src/images/gal-1-mob2x.jpeg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/src/images/gal-1-mob1x.jpeg"
            alt="Барбер працює"
            width="418"
            height="360"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /src/images/gal-2-desk1x.jpeg 1x,
              /src/images/gal-2-desk2x.jpeg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/gal-2-tab1x.jpeg 1x,
              /src/images/gal-2-tab2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/gal-2-mob1x.jpeg 1x,
              /src/images/gal-2-mob2x.jpeg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/src/images/gal-2-mob1x.jpeg"
            alt="Барбер працює"
            width="418"
            height="360"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /src/images/gal-3-desk1x.jpeg 1x,
              /src/images/gal-3-desk2x.jpeg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/gal-3-tab1x.jpeg 1x,
              /src/images/gal-3-tab2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/gal-3-mob1x.jpeg 1x,
              /src/images/gal-3-mob2x.jpeg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/src/images/gal-3-mob1x.jpeg"
            alt="Барбер працює"
            width="418"
            height="360"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              /src/images/gal-4-desk1x.jpeg 1x,
              /src/images/gal-4-desk2x.jpeg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/gal-4-tab1x.jpeg 1x,
              /src/images/gal-4-tab2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/gal-4-mob1x.jpeg 1x,
              /src/images/gal-4-mob2x.jpeg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/src/images/gal-4-mob1x.jpeg"
            alt="Барбер працює"
            width="418"
            height="360"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
