<!-- HEADER -->
<header class="header">
  <div class="container">
    <a href="" class="logo header__logo">
      <svg class="logo-icon" width="66" height="55">
        <use href="/src/images/sprite.svg#icon-Logo-1"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a href="" class="nav__link link current">About us</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link link">Послуги та ціни</a>
        </li>
        <li class="nav__item">
          <a href="#masters" class="nav__link link">Майстри</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link link">Контакти</a>
        </li>
      </ul>
    </nav>

    <div class="connect">
      <a href="tel:+380675554477" class="connect__tel link"
        >+38 067 555 44 77</a
      >
      <button type="button" class="connect__btn btn" data-modal-open>
        онлайн-запис
      </button>
    </div>
  </div>
  
<!-- MOBILE MENU -->
          <button type="button" class="menu-open-btn">
          <svg class="menu-icon" width="40" height="40">
            <use href="/src/images/sprite.svg#icon-menu-item"></use>
          </svg>
        </button>
      </div>

      <div class="mob-menu is-hidden">
        <div class="container">
          <div class="mob-menu-top">
            <button type="button" class="menu-close-btn">
              <svg class="menu-icon" width="40" height="40">
                <use href="/src/images/sprite.svg#icon-close-menu-btn"></use>
              </svg>
            </button>
            <ul class="mob-menu-list list">
              <li class="mob-menu-item">
                <a href="" class="mob-menu-link link current">Про нас</a>
              </li>
              <li class="mob-menu-item">
                <a href="" class="mob-menu-link link">Послуги та ціни</a>
              </li>
              <li class="mob-menu-item">
                <a href="#masters" class="mob-menu-link link">Майстри</a>
              </li>
              <li class="mob-menu-item">
                <a href="" class="mob-menu-link link">Контакти</a>
              </li>
            </ul>
          </div>
          <div class="mob-menu-bottom">
            <div class="mob-connect">
              <a href="tel:+380675554477" class="mob-connect-tel link"
                >+380675554477</a
              >
              <button type="button" class="mob-connect-btn btn" data-modal-open>
                онлайн-запис
              </button>
            </div>
            <ul class="mob-soc-list list">
              <li class="mob-soc-item">
                <a
                  href=""
                  target="_blank"
                  rel="noopener nofollow noreferrer"
                  class="mob-soc-link link"
                  >Instagram</a
                >
              </li>
              <li class="mob-soc-item">
                <a
                  href=""
                  target="_blank"
                  rel="noopener nofollow noreferrer"
                  class="mob-soc-link link"
                  >Youtube</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
</header>
