<section class="hero">
  <div class="container">
    <div class="soc">
      <ul class="soc__list list">
        <li class="soc__item">
          <a
            href=""
            target="_blank"
            rel="noopener nofollow noreferrer"
            class="soc__link link"
            >Instagram</a
          >
        </li>
        <li class="soc__item">
          <a
            href=""
            target="_blank"
            rel="noopener nofollow noreferrer"
            class="soc__link link"
            >Youtube</a
          >
        </li>
      </ul>
    </div>

    <div class="hero-content">
      <p class="hero-content__top-text top-text top-text--light">
        A hair salon for men in Kyiv
      </p>
      <h1 class="hero-content__title">Barbershop</h1>
      <p class="hero-content__bottom-text bottom-text">
        Ми експерти в модних чоловічих стрижках. Працюємо швидко, обережно та зі
        смаком.
      </p>
    </div>
  </div>
</section>
