<section class="masters">
  <div class="container">
    <p class="masters__top-text top-text top-text--dark">
      для справжніх поціновувачів атмосфери
    </p>
    <h2 class="masters__title title title--dark">Наші майстри</h2>
    <ul class="card-list list">
      <li class="card-list__item">
        <div class="card-list__top-wrap">
          <img
            src="/src/images/barber-1.jpeg"
            alt="barber-1"
            width="370"
            height="346"
          />
          <p class="card-list__wrap-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
            adipisci cumque soluta labore, maxime quam voluptate officia
            delectus libero dolor assumenda necessitatibus excepturi doloremque
            sequi tenetur quod, beatae a quas?
          </p>
        </div>

        <h3 class="card-list__item-title">John Smith</h3>
        <p class="card-list__item-text">Extreme Barber</p>
        <ul class="list socials">
          <li class="socials__item">
            <a href="" class="socials__link link">
              <svg class="socials__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link link">
              <svg class="socials__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link link">
              <svg class="socials__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link link">
              <svg class="socials__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="card-list__item">
        <div class="card-list__top-wrap">
          <img
            src="/src/images/barber-2.jpeg"
            alt="barber-2"
            width="370"
            height="346"
          />
          <p class="card-list__wrap-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
            adipisci cumque soluta labore, maxime quam voluptate officia
            delectus libero dolor assumenda necessitatibus excepturi doloremque
            sequi tenetur quod, beatae a quas?
          </p>
        </div>
        <h3 class="card-list__item-title">Michele Doe</h3>
        <p class="card-list__item-text">Extreme Barber</p>
        <ul class="list socials">
          <li class="socials__item">
            <a href="" class="socials__link link">
              <svg class="socials__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link link">
              <svg class="socials__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link link">
              <svg class="socials__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link link">
              <svg class="socials__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="card-list__item">
        <div class="card-list__top-wrap">
          <img
            src="/src/images/barber-3.jpeg"
            alt="barber-3"
            width="370"
            height="346"
          />
          <p class="card-list__wrap-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
            adipisci cumque soluta labore, maxime quam voluptate officia
            delectus libero dolor assumenda necessitatibus excepturi doloremque
            sequi tenetur quod, beatae a quas?
          </p>
        </div>

        <h3 class="card-list__item-title">Alan Black</h3>
        <p class="card-list__item-text">Extreme Barber</p>
        <ul class="list socials">
          <li class="socials__item">
            <a href="" class="socials__link link">
              <svg class="socials__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link link">
              <svg class="socials__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link link">
              <svg class="socials__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link link">
              <svg class="socials__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
