<section class="price">
  <div class="container">
    <p class="price-top-text top-text top-text--light">
      Проведи час в компанії кращих майстрів
    </p>
    <h2 class="price-title title title--light">Послуги та ціни</h2>
    <div class="prices-wrap">
      <ul class="price-list price-list-light list">
        <li class="price-item">
          <p class="price-item-text">Чоловіча стрижка</p>
          <p class="price-item-text">від 300 грн.</p>
        </li>
        <li class="price-item">
          <p class="price-item-text">Стрижка бороди</p>
          <p class="price-item-text">від 200 грн.</p>
        </li>
        <li class="price-item">
          <p class="price-item-text">Стрижка вусів</p>
          <p class="price-item-text">від 200 грн.</p>
        </li>
        <li class="price-item">
          <p class="price-item-text">Гоління небезпечною бритвою</p>
          <p class="price-item-text">від 200 грн.</p>
        </li>
      </ul>

      <ul class="price-list price-list-dark list">
        <li class="price-item">
          <p class="price-item-text">Стрижка у стажера</p>
          <p class="price-item-text">від 50 грн.</p>
        </li>
        <li class="price-item">
          <p class="price-item-text">Стрижка під насадку</p>
          <p class="price-item-text">від 200 грн.</p>
        </li>
        <li class="price-item">
          <p class="price-item-text">Дитяча стрижка (до 12 років)</p>
          <p class="price-item-text">від 300 грн.</p>
        </li>
        <li class="price-item">
          <p class="price-item-text">Камуфлювання сивини</p>
          <p class="price-item-text">від 200 грн.</p>
        </li>
      </ul>
    </div>
    <button type="button" class="price-btn btn">онлайн-запис</button>
  </div>
</section>
