.benefits {
  padding-top: 84px;
  padding-bottom: 84px;
  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include desktop {
    padding-top: 143px;
    padding-bottom: 143px;
  }
}

.benefits .container {
  display: flex;
  flex-direction: column-reverse;
  gap: 44px;

  @include tablet {
    flex-wrap: wrap-reverse;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
  }
}

.benefits-content {
  // @include tablet {
  //   max-width: 500px;
  // }
}

.benefits-list {
  width: 418px;
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    width: 450px;
  }
  @include desktop {
    min-width: 370px;
    margin-right: 130px;
    margin-left: 125px;
  }
}

.benefits-item-text {
  @include font(11px, 600, 1.36, null);

  text-align: center;
  color: #303030;
}

.benefits-item {
  width: 193px;
  height: 133px;
  padding: 20px 24px;
  background-color: #f7f7f7;

  &:nth-child(odd) {
    margin-right: 30px;
  }

  &:nth-child(even) {
    margin-top: 30px;
  }

  @include tablet {
    width: 210px;
  }

  @include desktop {
    width: 170px;
  }
}

.benefits-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;

  &::after {
    content: '+';

    @include font(16px, 600, 1.38, null);

    // font-weight: 600;
    // font-size: 16px;
    // line-height: 1.38;
    // text-align: center;

    color: var(--accent-color);
  }
}

.benefits-top-text {
  margin-bottom: var(--typical-margin);
}
.benefits-title {
  margin-bottom: var(--typical-margin);
  max-width: 412px;
}
.benefits-bottom-text {
  color: #555555;
  @include tablet {
    max-width: 500px;
  }
}
