.form {
  padding-top: 84px;
  padding-bottom: 84px;
  overflow: hidden;
  text-align: center;

  @include desktop {
    width: calc(50% - 15px);
    padding-top: 130px;
  }
}

.form-title {
  margin-bottom: 44px;
}

.online-form {
  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.input-field {
  position: relative;
  margin-bottom: 40px;

  @include tablet {
    width: 300px;
  }
  @include desktop {
    width: 260px;
  }
}

.online-input {
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.6);

  transition: border-color 300ms linear;

  &:focus {
    border-color: #ffffff;
  }
}

.online-label {
  position: absolute;
  top: 0;
  left: 0;
  @include font(11px, 600, 1.36, 0.1em);

  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);

  transition: color 300ms linear, transform 300ms linear;

  .online-input:focus + & {
    color: #ffffff;
    transform: translateY(-100%);
  }

  .online-input:not(:placeholder-shown) + & {
    color: #ffffff;
    transform: translateY(-100%);
  }

  .online-mess:focus + & {
    color: #ffffff;
    transform: translateY(-100%);
  }

  .online-mess:not(:placeholder-shown) + & {
    color: #ffffff;
    transform: translateY(-100%);
  }
}

.text-field {
  width: 100%;
  position: relative;
  margin-top: 44px;
}

.online-mess {
  width: 100%;
  height: 76 px;
  border: none;
  resize: none;
  outline: none;

  margin-bottom: 44px;

  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);

  &:focus {
    border-color: #ffffff;
  }
}

.online-btn {
  color: var(--main-btn-color);
  @include tablet {
    margin: 0 auto;
  }
}
